<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All users</title>
    <link rel="stylesheet" href="/css/all_users.css" />
  </head>
  <body>
    <h1>All Users</h1>

    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Age</th>
          <th>Job title</th>
          <th>Description</th>
          <th>Gender</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if (users.length > 0) { %> <% users.forEach(function(user) { %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.age %></td>
          <td><%= user.job_title %></td>
          <td><%= user.description %></td>
          <td><%= user.gender %></td>
          <td>
            <form action="/delete_user" method="POST">
              <input type="hidden" name="id" value="<%= user.id %>" />
              <button type="submit">Delete</button>
            </form>
            <a href="/edit_user/<%=user.id %>"
              ><button class="edit" type="button">Edit</button></a
            >
          </td>
        </tr>
        <% }); %> <% } else { %>
        <tr class="no-users">
          <td colspan="6">No users yet</td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <div class="buttons">
      <a href="/"><button type="button">Back to Home</button></a>
    </div>
  </body>
</html>
