<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/result.css" />
  </head>
  <body>
    <h1>HELLO</h1>
    <table border="1" cellspacing="0" cellpadding="5">
      <thead>
        <tr>
          <th>Email</th>
          <th>Age</th>
          <th>Avatar</th>
          <th>Job title</th>
          <th>Description</th>
          <th>Gender</th>
          <th>Password</th>
          <th>Delete User</th>
          <th>Edit Avatar</th>
          <th>Edit Password</th>
        </tr>
      </thead>
      <tbody>
        <% array.forEach(item => { %>
        <tr>
          <td><%= item.email %></td>
          <td><%= item.age %></td>
          <td>
            <% if (item.avatar) { %>
            <a href="/user/<%= item.email %>">
              <img src="<%= item.avatar %>" alt="Avatar" class="avatar" />
            </a>
            <% } else { %> No avatar <% } %>
          </td>

          <td><%= item.job_title %></td>
          <td>
            <div>
              <form
                action="/change_description/<%= item.email %>"
                method="POST"
              >
                <textarea
                  name="changed_description"
                  cols="30"
                  rows="10"
                  placeholder="Cnange your description"
                  required
                  id=""
                >
                  <%= item.description %></textarea
                >
                <div><button type="submit">Change description</button></div>
              </form>
            </div>
            <div>
              <button type="submit">
                <a href="/user/<%= item.email %>">Read More</a>
              </button>
            </div>
          </td>
          <td><%= item.gender %></td>
          <td><%= item.password %></td>
          <td>
            <form action="/deleted/<%= item.email %>" method="POST">
              <button type="submit">Delete</button>
            </form>
          </td>
          <td>
            <form action="/edited/<%= item.email %>" method="POST">
              <input
                type="url"
                name="new_avatar"
                placeholder="New avatar URL"
                required
              />
              <button type="submit">Edit</button>
            </form>
          </td>
          <td>
            <form action="/edit_pass/<%= item.password %>" method="POST">
              <input
                type="text"
                name="job_title"
                value="<%= item.job_title %>"
                required
              />
              <input
                type="password"
                name="new_password"
                placeholder="enter your new password"
                value="<%= item.password %>"
                required
              />
              <input
                type="text"
                pattern="\d*"
                name="age"
                min="18"
                max="100"
                placeholder="edit age"
                value="<%= item.age %>"
                required
              />
              <button type="submit">Edit</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <br />
    <a href="/">повернення на головну сторінку</a>
    <br />
    <br />
    <form action="/add" method="POST">
      <input type="url" name="image" placeholder="add url of your img" />
      <br />
      <br />
      <button type="submit">send</button>
    </form>
  </body>
</html>
