<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/user.css" />
  </head>
  <body>
    <div class="container">
      <h1>User Profile</h1>
      <% if (user.avatar) { %>
      <img src="<%= user.avatar %>" alt="Avatar" class="avatar" />
      <% } else { %>
      <div>No avatar</div>
      <% } %>

      <table>
        <tr>
          <th>Email</th>
          <td><%= user.email %></td>
        </tr>
        <tr>
          <th>Age</th>
          <td><%= user.age %></td>
        </tr>
        <tr>
          <th>Job Title</th>
          <td><%= user.job_title %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= user.description %></td>
        </tr>
        <tr>
          <th>Gender</th>
          <td><%= user.gender %></td>
        </tr>
        <tr>
          <th>Password</th>
          <td><%= user.password %></td>
        </tr>
      </table>

      <br />
      <a href="/result">Back</a>
    </div>
  </body>
</html>
